/* Add CSS Styling */
.one, .three, .five {
	background-color: #FF69B4;
	font-family: Verdana, "DejaVu Sans", sans-serif ;
}

#two {
    color: #0000FF;
    font-size: 36px;
}

.three {
    font-size: 24px;
}

#four {
    font-weight: bold;
    background-color: #77d884;
    font-size: 24px;
}